@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>GroudHK</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Bản Thân</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
        </ul>
    </nav>

    <article>
       <table>
           <thead>
            <th>STT</th>
            <th>MSSV</th>
            <th>Tên</th>
           </thead>
           <tbody>
            <tr>
                <td>1</td>
                <td>1822040032</td>
                <td>Nguyễn Đăng Khoa</td>
            </tr>
                <tr>
                    <td>2</td>
                    <td>1822040013</td>
                    <td>Nguyễn Hoàng Hải Hưng</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>1822040093</td>
                    <td>Dương Hoàng Thái Huy</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>1822040206</td>
                    <td>Trần Thanh Hoàng</td>
                </tr>
           </tbody>
       </table>
    </article>
</section>

<footer>
    <p>Copyright &copy; Nguyen Dang Khoa  - @DateTime.Now.Year</p>
</footer>
