@{
    ViewData["Title"] = "Home Page";
}


<header>
    <h2>GIỚI THIỆU</h2>
</header>

<section>
    <nav>
        <ul>
            <li><a href="~/trang-chu">Nguyễn Đăng Khoa</a></li>
            <li><a href="~/gioi-thieu-nhom">Nhóm : GroudHK</a></li>
        </ul>
    </nav>

    <article>
        <h1>Nguyễn Đăng Khoa</h1>
        <p>Lớp : 22DTH1 </p>
        <p>MSSV : 1822040032 </p>
        <img src="~/image/Anh1.jpg" style="width:100px;"/>
    </article>
</section>

<footer>
    <p>Copyright &copy; Nguyen Dang khoa - @DateTime.Now.Year</p>
</footer>
